a[href="https://www.linkedin.com/in/jazhiel-segura-monroy/"]:hover {
    color: rgb(180, 109, 42);
}

h1 {
    color: blue;
    font-size: 24px;
}

p {
    font-family: Arial, serif;
    line-height: 1.5;
}

.class-text {
    font-style: italic;
    color: green;
}

/* ID styling */
#education {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

/* ID styling */

#publications {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
